@import url("/styles/fonts.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*End of reset*/

/*---------------------------------------------------*/

body {
  width: 100vw;
  background-color: rgb(252, 245, 252);
}

.wrapper {
  background-color: rgb(255, 255, 255);
  max-width: 1200px;
  margin: 0 auto; /*Centrerar horisontellt i parent->body*/
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: auto; /*Rows får storlek efter innehåll**/
}

/*HEADER*/
header {
  grid-column: span 24;
  display: flex;
}

/*Header - left*/
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /*header-left tar upp hälften av header-flexboxen*/
}

header .header-left .bg-img {
  width: 100%;
}

/*Positionerar loggan på header-left img*/
.header-left .bg-img {
  object-fit: cover;
  aspect-ratio: 1/1;
}

.header-left .ol-img {
  position: absolute;
}
/*Positionerar loggan på header-left img END*/
/*Header - left END*/

/*Header - right*/
.header-right {
  display: flex;
  flex-direction: column;
  flex: 1; /*header-right tar upp hälften av header-flexboxen*/
}

.header-bg-box {
  display: flex;
  justify-content: center;
  height: 100%;
}

header .header-right img {
  max-width: 150px;
}

#top {
  background-color: rgb(159, 109, 82);
}

#bottom {
  background-color: rgb(10, 132, 111);
}
/*Header - right END*/
/*HEADER END*/

/*---------------------------------------------------*/

/* NAV START*/
nav {
  grid-column: 1/-1;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 4px 0 rgb(226, 226, 226);
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.main-menu a {
  color: rgb(30, 78, 64);
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
}

.menu-holder {
  background-color: rgb(255, 255, 255);
  grid-column: 5/-5;
}

.menu-holder .main-menu {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}

/* NAV END*/

/*---------------------------------------------------*/

.welcome-area {
  grid-column: 2/-2;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin: 3rem 0 3rem 0;
}

/*MAIN START*/
main {
  grid-column: 2/-2;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin: 3rem 0 5rem 0;
}

main .header-text {
  text-align: center;
  /* margin: 0.8em; -> Bestämde att använda gap och margin på main istället*/
  color: rgb(21, 125, 107);
  text-transform: uppercase;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  font-size: 3rem;
}

main .news-box-holder {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/*News-box START*/
main .news-box {
  display: flex;
  gap: 3rem;
}

main .news-box .package-bg {
  background-color: rgb(10, 132, 111);
  border-radius: 100vw;
  padding: 6rem;

  img {
    width: 12rem;
  }
}

main .news-box .news-text-area {
  flex-grow: 2; /*Tar upp resten av flexbox storleken*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  font-family: "Open Sans", sans-serif;

  h2 {
    font-size: 2rem;
    color: rgb(22, 22, 22);
  }

  p {
    color: rgb(22, 22, 22);
  }

  button {
    align-self: flex-end;
    width: 12rem;
    height: 4rem;
    border-radius: 0.6rem;
    border-style: none;
    background-color: rgb(10, 132, 111);
    box-shadow: 0 4px 4px 0 rgb(226, 226, 226);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
  }
}
/*News-box END*/

.divider-line {
  align-self: center;
  width: 500px;
  height: 0.2rem;
  max-width: 500px;
  background-color: rgb(4, 85, 70);
}

/*Planer-box START*/
main .planer-box-holder h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

main .planer-box-holder {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
/*Gallery START*/

main .planer-box ul {
  /*Placerar ut varje box som innehåller img, text & button*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

main .planer-box ul li {
  /*Varje enskild box som innehåller img och text om bilden*/
  max-width: 22rem;
  max-height: 100%;
  display: flex;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0);
}

main .planer-box ul li figure {
  display: flex;
  flex-direction: column;
}

main .planer-box ul li img {
  flex: 1;
  max-width: 100%; /*Img täcker hela bredden på li-flexbox*/
  vertical-align: bottom;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

main .planer-box ul li figcaption {
  flex: 1;
  max-width: 100%; /*Img täcker hela bredden på li-flexbox*/
  vertical-align: bottom;
  aspect-ratio: 1 / 1; /*!!! Ändra för att få minde yta*/
  object-fit: cover;
}
